*~
*.o
*.so
*.a
*.x
*.exe
*.pyc

.*.swp

# executable
colvartools/abf_integrate

# output files from reg tests
*.diff
*.BAK
*.old
*.backup
*.err
# output files from file-based mw-metadynamics
*.rep?.files.txt
replicas.registry.txt
*.rep?.hills

# Compiled documentation
colvars-refman-lammps.pdf
colvars-refman-namd.pdf
colvars-refman-vmd.pdf
