*~
*.o
*.so
*.a
*.x
*.exe
*.pyc

.*.swp

# output files from reg tests
*.diff
*.BAK
*.old
*.coor
*.vel
*.xsc
*.backup
*.state
*.traj
*.out
*.err
*.count
*.grad
*.pmf
# output files from file-based mw-metadynamics
*.rep?.files.txt
replicas.registry.txt
*.rep?.hills
