# -*- gitignore -*-

# Editor files
*~
.*.swp

# Compiled code
*.o
*.so
*.a
*.x
*.exe
*.pyc

# Executable
/colvartools/abf_integrate

# Lepton library (copied or symlinked in compilation tests)
/lepton

# Dependencies for compilation tests
/src/Makefile.deps

# output files from reg tests
*.diff
*.BAK
*.old
*.coor
*.vel
*.xsc
*.backup
*.err

# Output files from reg tests, with exceptions for reference files
*.state
!**/AutoDiff/*.state
*.traj
!**/AutoDiff/*.traj
*.out
!**/AutoDiff/*.out
*.count
!**/AutoDiff/*.count
*.grad
!**/AutoDiff/*.grad
*.pmf
!**/AutoDiff/*.pmf

# Compiled documentation
colvars-refman-lammps.pdf
colvars-refman-namd.pdf
colvars-refman-vmd.pdf
