src/colvars_version.h merge=ours
doc/cv_version.tex merge=ours
lammps/src/COLVARS/colvarproxy_lammps_version.h merge=ours
namd/src/colvarproxy_namd_version.h merge=ours
vmd/src/colvarproxy_vmd_version.h merge=ours
