auto
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.log
*.out
*.toc

# Compiled documentation
colvars-refman-gromacs.pdf
colvars-refman-lammps.pdf
colvars-refman-namd.pdf
colvars-refman-tinkerhp.pdf
colvars-refman-vmd.pdf
