# Typical LaTeX intermediate files
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.fls
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
*-eps-converted-to.pdf

# Compiled documentation
colvars-refman-gromacs.pdf
colvars-refman-lammps.pdf
colvars-refman-namd.pdf
colvars-refman-tinkerhp.pdf
colvars-refman-vmd.pdf
