---
AccessModifierOffset: -2
BinPackParameters: false
BreakBeforeBraces: WebKit
ColumnLimit: 100
EmptyLineAfterAccessModifier: Leave
IndentWidth: 2
Language: Cpp
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
ObjCBlockIndentWidth: 2
PenaltyBreakAssignment: 2
PenaltyReturnTypeOnItsOwnLine: 10000
TabWidth: 2
UseTab: Never
...
