name: "Backends"

on:
  push:


# These jobs call a template workflow `backend-template.yml`, which performs
# all the necessary steps to run the regression tests of the backend.

# Variables listed under `with` are mandatory, except `test_lib_directory`
# and `test_interface_directory`, which are optional.  `backend_name` must be
# unique, as it is used to identify the cache.
# See `backend-template.yml` for more details.

env:
  # Set environment variables to make secrets available to the template steps
  PULL_NAMD_KEY: secrets.PULL_NAMD_KEY
  PULL_VMD_KEY: secrets.PULL_VMD_KEY
  PULL_VMD_PLUGINS_KEY: secrets.PULL_VMD_PLUGINS_KEY

jobs:

  lammps-develop:
    name: LAMMPS (develop)
    uses: ./.github/workflows/backend-template.yml
    with:
      backend_name: LAMMPS
      backend_repo: lammps/lammps
      backend_repo_ref: develop
      container_name: CentOS9-devel
      path_compile_script: devel-tools/compile-lammps.sh
      test_lib_directory: lammps/tests/library
      test_interface_directory: lammps/tests/interface
      rpath_exe: install/bin/lmp

  namd-devel:
    name: NAMD (devel)
    # Prevent running this job on PRs across different accounts, because
    # secrets wouldn't be shared
    uses: ./.github/workflows/backend-template.yml
    with:
      backend_name: NAMD
      backend_repo: Colvars/namd
      backend_repo_ref: devel
      path_compile_script: devel-tools/compile-namd.sh
      test_lib_directory: namd/tests/library
      test_interface_directory: namd/tests/interface
      rpath_exe: Linux-x86_64-g++.mpi/namd3
      container_name: CentOS7-devel
    secrets:
      # Choice of license by UIUC prevents sharing the code, hence the secret
      private_key: ${{ secrets.PULL_NAMD_KEY }}

  vmd-cvs:
    name: VMD
    # Prevent running this job on PRs across different accounts, because
    # secrets wouldn't be shared
    uses: ./.github/workflows/backend-template.yml
    with:
      backend_name: VMD
      backend_repo: Colvars/vmd
      backend_repo_ref: master
      container_name: CentOS7-devel
      # Special variable for VMD test case since it's the only one
      # which needs to checkout 2 repos
      vmd_plugins_repo: Colvars/vmd-plugins
      path_compile_script: devel-tools/compile-vmd.sh
      test_interface_directory: vmd/tests/interface
      rpath_exe: install/vmd
    secrets:
      # Per-repository secret
      private_key: ${{ secrets.PULL_VMD_KEY }}
      private_key_vmd_plugins: ${{ secrets.PULL_VMD_PLUGINS_KEY }}

  gromacs-2023:
    name: GROMACS (release-2023)
    uses: ./.github/workflows/backend-template.yml
    with:
      backend_name: GROMACS-2023
      backend_repo: gromacs/gromacs
      backend_repo_ref: release-2023
      container_name: CentOS9-devel
      path_compile_script: devel-tools/compile-gromacs.sh
      test_lib_directory: gromacs/tests/library
      rpath_exe: install/bin/gmx_mpi_d

  gromacs-2024:
    name: GROMACS (release-2024)
    uses: ./.github/workflows/backend-template.yml
    with:
      backend_name: GROMACS-2024
      backend_repo: gromacs/gromacs
      backend_repo_ref: release-2024
      container_name: CentOS9-devel
      path_compile_script: devel-tools/compile-gromacs.sh
      test_lib_directory: gromacs/tests/library
      test_interface_directory: gromacs/tests/interface
      rpath_exe: install/bin/gmx_mpi_d

  gromacs-main:
    name: GROMACS (main)
    uses: ./.github/workflows/backend-template.yml
    with:
      backend_name: GROMACS-main
      backend_repo: gromacs/gromacs
      backend_repo_ref: main
      container_name: CentOS9-devel
      path_compile_script: devel-tools/compile-gromacs.sh
      test_lib_directory: gromacs/tests/library
      test_interface_directory: gromacs/tests/interface
      rpath_exe: install/bin/gmx_mpi_d
